<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    <insert id="signUp" parameterType="board">#-- mybatis-config에서 약칭 사용가능 , "board"처럼 명시
        insert into user(name, phone, id,password)
        values(#{name}, #{phone}, #{id}, #{password})
    </insert>

    <insert id="addAlbumId" parameterType="board">#-- mybatis-config에서 약칭 사용가능 , "board"처럼 명시
    insert into album(albumID, userID)
    values(#{albumID}, #{userID})
    </insert>

    <select id="login" resultType="int" parameterType="board">
        SELECT COUNT(*)
        FROM user
        WHERE id = #{id} AND password = #{password}
    </select>

    <select id="search" resultType="String" parameterType="board">
        SELECT password
        FROM user
        WHERE name = #{name} AND phone = #{phone}
    </select>

    <insert id="uploadImage" parameterType="board">#-- mybatis-config에서 약칭 사용가능 , "board"처럼 명시
    insert into picture(pictureID, route, date, albumID)
    values(#{pictureID}, #{route}, #{date}, #{albumID})
    </insert>

    <insert id="text" parameterType="board">#-- mybatis-config에서 약칭 사용가능 , "board"처럼 명시
    insert into text(textID, text, date, pictureID)
    values(#{textID}, #{text}, #{date}, #{pictureID})
    </insert>


</mapper>